@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Get Moving</h1>
    <p>Would you like to choose an exercise, or pick one at random?</p>
</div>

<form method="post" asp-area="" asp-controller="Moves" asp-action="Index">
    <input id="btn1" type="submit" value="Pick an exercise" />
</form>
<form method="post" asp-area="" asp-controller="Moves" asp-action="Random">
    <input id="btn1" type="submit" value="Get random" />
</form>